.Note {
    margin-top: 10px;
    border-top: 1px solid #eee;
    text-align: center;
  }
  
  .Note h4 {
    margin-top: 10px;
  }

  .micss{
    background-color: red;
  }

  .titulo{
    font-size: 25px;
    color: black;
    text-align: center;
  }
  
  .buscador{
    width: 100%;
    border-radius: 10%;
    border-color: blue;
    
  }
  .guardar{
    color: rgba(17, 6, 6, 0.215);
    background-color: #afe2fb;
    text-align: center;

    margin-right: 25%;
    
    }