.Note {
    margin-top: 10px;
    border-top: 1px solid #eee;
  }
  
  .Note h4 {
    margin-top: 10px;
  }

  .micss{
    background-color: red;
  }

  .titulo{
    font-size: 25px;
    color: black;
    text-align: center;
  }
  
  .buscador{
    width: 100%;
    background-color: rebeccapurple;
    
  }